// Button content
button.button_container {
    margin: 0;
    padding: 0.35rem .9rem;
    font-size: 0.75rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 2rem;
    border: .05rem solid var(--app-secondary-color);
    color: var(--footer-color);
    letter-spacing: 0.015rem;
    transition: all 0.1s ease-in-out;
    cursor: pointer;

    &:hover {
        scale: 1.05;
    }
}
